/* Main do alunoEspecifico.html */

.area_aluno_especifico {
    max-width: 1920px;
    width: 100%;
    padding: 150px 120px 90px 150px;
    display: flex;
    justify-content: space-between;
    min-height: 40vh;
  }
  
  .container_aluno_selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    gap: 20px;
  }
  
  .container_aluno_selecionado:hover {
    box-shadow: 0 8px 8px rgb(100, 100, 100);
    transition: all 0.2s;
    transform: scale(1.1);
  }
  
  .imagem_aluno {
    width: 350px;
    height: 350px;
  }
  
  .nome_aluno {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--secondary-color);
    text-align: center;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.60);
  }
  
  .container_grafico_desempenho_aluno {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins";
    font-size: 1.2rem;
    width: 550px;
    height: 550px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.60);
  }
  
  .container_grafico_desempenho_aluno:hover {
    box-shadow: 0 8px 8px rgb(100, 100, 100);
    transition: all 0.2s;
    transform: scale(1.1);
  }
  
  .grade {
    display: grid;
    justify-items: center;
    gap: 24px;
    grid-template-rows: auto auto auto;
    font-weight: 900;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.60);
  }
  
  .container_grade {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    border-radius: 3rem;
    background-color: #eeeff8;
    height: 350px;
    width: 20px;
  }
  
  .barras_grade {
    border-radius: 2rem;
    height: 100%;
  }
  
  .atributos_nome_grade {
    color: var(--secondary-color);
    font-style: italic;
  }