/* Main alunos.html */

.area_alunos {
    max-width: 1920px;
    width: 100%;
    min-height: 80vh;
  }
  
  .container_status_aluno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 210, 125);
    height: 75px;
    padding: 20px 120px;
    user-select: none;
    width: 100%;
  }
  
  .filtragem_containers {
    display: flex;
    gap: 48px;
  }
  
  .filtragem__status {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    padding: 8px 30px 8px 8px;
    border-bottom: 4px solid black;
    border-radius: 16px;
    text-align: left;
  }
  
  .ano__filtragem {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    padding: 8px 30px 8px 8px;
    border-bottom: 4px solid black;
    border-radius: 16px;
    text-align: left;
  }
  
  .tipo_filtragem {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    font-size: 16px;
  }
  
  .indicador_status {
    display: flex;
    color: var(--secondary-color);
    gap: 16px;
  }
  
  .indicador_aluno_cursando {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .indicador_aluno_finalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .label_aluno_cursando {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.55);
  }
  
  .label_aluno_finalizado{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.55);
  }
  
  .titulo_curso{
    color: var(--secondary-color);
    font-size: 4.2rem;
    text-align: center;
    margin-top: 40px;
  }
  
  .container_alunos {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 62px;
    margin: 100px 50px 40px 20px;
  }
  
  .aluno {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background-color: var(--secondary-color);
    gap: 16px;
    box-shadow: 0px 0px 30px rgba(223, 223, 223, 0.822);
  }
  
  .aluno:hover {
    transition: all 0.5s;
    transform: 
    scale(1.1);
    cursor: pointer;
  }
  
  .nome_aluno {
    font-weight: 700;
    padding: 0px 24px;
    text-align: center;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.822);
    text-transform: uppercase;
    color: var(--primary-color);
  }