/* Main do index.html */

.area_main{
    max-width: 1920px;
    width: 100%;
    padding: 120px 120px;
    display: grid;
    grid-template-areas:
      "title   student courses"
      "devices student courses";
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    justify-content: center;
    min-height: 40vh;
  }
  
  .sugestão_curso {
    grid-area: title;
    font-size: 3.7rem;
    font-family: 700;
    color: #353535;
    user-select: none;
  }
  
  .letra_modificada_cor {
    color: var(--secondary-color);
  }
  
  .imagem_dispositivos {
    grid-area: devices;
  }
  
  .imagem_estudante{
    grid-area: student;
  }
  
  .container_cursos_alunos {
    grid-area: courses;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .card_cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 500px;
    height: 250px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    user-select: none;
    color: var(--primary-color);
  }
  
  .card_cursos:hover {
    transition: all 0.5s;
    transform: scale(1.10);
  }
  
  .icones_curso {
    width: 120px;
    height: 120px;
  }
  
  .card_texto_curso{
    font-size: 4.2rem;
  }